{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/stud.css' %}">
</head>
<body>
    <center>
        <h1>display_student</h1>
        <table border="3px">
            <tr>
                <th>sid</th>
                <th>sname</th>
                <th>marks</th>
                <th>cid</th>
            </tr>
            {% for s in student %}
            <tr>
                <td>{{s.sid}}</td>
                <td>{{s.sname}}</td>
                <td>{{s.marks}}</td>
                <td>{{s.cid.cid}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>